<div class="row">
    <!--- sidebar  -->
    <div style="transition: .5s;" class="p-0" [ngClass]="{'col-lg-1': toggleVal,'col-lg-2':!toggleVal}">
        <app-sidebar (sidebarToggle)=sidebarToggle($event)> </app-sidebar>
    </div>
    
    <div class="p-0 height-100" style="transition: .5s;" [ngClass]="{'col-lg-11': toggleVal,'col-lg-10':!toggleVal}"> 
        <div class="container-fluid ">
            <div class="col col-lg-12">
                <div class="card1">
                    <div class="m-3">
                        <div class="p-3"> 
                            <div class="row mb-2" >
                                <div class="col-md-6 p-0"> 
                                    <h2><b class="tex"> Settings </b></h2>
                                    <p style="margin: 0; color: #b6b6b6d9;">Hare you can Download & manage all your Business.</p>
                                </div>
                                <div class="col-md-6 p-0">                                                                        
                                    <span style="float: right;">
                                        <button routerLink="/setting/create" type="button" class="btn edit icn"><i class='bx bx-plus-circle nav_icon'></i>New Setting</button>
                                    </span>
                                </div> 	
                            </div>
                            <form style=" width: 38%;">
                                <input type="text" class="form-control tex " style="border: none;" placeholder="Search...."
                                    [(ngModel)]="search" name="search">
                                <button type="submit" class="tex" (click)="getData()">Search</button>
                            </form>
                            <hr>	
                                <div class="row" >  
                                    <div class="col-md-12 p-0">
                                        <table class="table table-striped table-lg tex">
                                            <thead>
                                                <tr>
                                                    <th (click)="sortBy('id')">  Id <i class='bx bx-sort nav_icon'></i></th> 
                                                    <th> Key </th>
                                                    <th> Value </th>
                                                    <th (click)="sortBy('type')"> Type<i class='bx bx-sort nav_icon'></i></th>
                                                    <th> Created </th>
                                                    <th class="text-center"> Action	</th>
                                                </tr> 
                                            </thead>                                 
                                            <tbody>
                                                <tr *ngFor="let row of data" >
                                                    <td> {{row.id}} </td> 
                                                    <td> {{row.key}}  </td>                                               
                                                    <td *ngIf="row.value && row.value != 'null' && row.type != 'Image'"> {{ row.value }} </td>                                        
                                                    <td *ngIf="row.value && row.value == 'null'"> Null </td>                                        
                                                    <td  *ngIf="row.value && row.value != 'null' && row.type == 'Image'" class="p-1">
                                                        <img src="http://localhost:3001/uploads/images/{{row.value}}" class="rounded tableImg" alt="Logo" />
                                                    </td>
                                                    <td> {{row.type}}  </td> 
                                                    <td> {{row.created | date:'short'}}  </td> 
                                                    <td class="t_row p-0 text-center">
                                                        <a routerLink="/setting/update/{{row.id}}" data-dismiss="alert"><i class='bx bx-pencil nav_icon'></i> </a>
                                                        <a herf="JavaScript:void(0)" (click)="showRow(row.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dismiss="alert">
                                                            <i class='bx bx-show nav_icon btn spas'></i>
                                                        </a>
                                                        <a herf="JavaScript:void(0)" (click)="deleteRow(row.id)" data-dismiss="alert"><span class="btn spas">&times;</span></a>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="data.length == 0"> 
                                                    <td class="text-center" colspan="6">NO RECORD FOUND</td>
                                                </tr>
                                            </tbody>     
                                        </table>
                                        <!-- Show Single Row Data in Table -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title tex" id="exampleModalLabel">One Line Data</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-bordered">
                                                            <tr>
                                                                <th class="tex"> Value :</th>
                                                                <td *ngIf="value && value == 'null'"> Null </td>
                                                                <td *ngIf="value && value != 'null' && type != 'Image'"> {{ value }} </td>
                                                                <td *ngIf="value && value != 'null' && type == 'Image'"> 
                                                                    <img  src="http://localhost:3001/uploads/images/{{value}}" class="rounded imgThumbnail" />       
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="tex"> Category :</th>
                                                                <td> {{ key }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="tex"> Description :</th>
                                                                <td> {{ type }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="tex"> Created :</th>
                                                                <td> {{ created | date:'long'}}</td>
                                                            </tr>                                                           
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary edit" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div *ngIf="totalPage">
                                            <span class="tex" style="margin: 0; color: #b6b6b6d9;"> Show </span> 
                                            <div class="btn-group">
                                                <select class="form-select dropbutton" aria-label="Default select example"  [(ngModel)]="limit" (change)="getData()">
                                                    <option selected value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                            <span style="margin: 0; color: #b6b6b6d9;"> Showing {{getTOFROM()}} of {{totalRows}} entries</span>
                                            <!-- Pagination  System Design   -->
                                            <div style=" float: right;">
                                                <app-pagination [totalPage]="totalPage" [page]="page" (newPage)="pageChange($event)"></app-pagination>
                                            </div>  
                                        </div>
                                    </div> 
                                </div>
                            </div>      
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>