<div class="row">
    <!--- sidebar  -->
    <div style="transition: .5s;" class="p-0" [ngClass]="{'col-lg-1': toggleVal,'col-lg-2':!toggleVal}">
        <app-sidebar (sidebarToggle)=sidebarToggle($event)> </app-sidebar>
    </div>
    
    <div class="p-4 height-100" style="transition: .5s;" [ngClass]="{'col-lg-11': toggleVal,'col-lg-10':!toggleVal}"> 
        <div class="col col-lg-12">
            <div class="card1">
                <div class="m-4">
                    <div class="box">              
                        <div class="card-header ">
                            <h4 class="has-btn">
                                <span class="tex">Total Revanue</span> 
                                <span style="float: right;">
                                    <button type="button" class="btn squer-btn sm-btn edit">Download</button>
                                </span>
                            </h4>
                        </div>
                        <div class="tex">
                            <div class="row" >
                                <div class="col-md-12 mt-3 p-1"> 
                                    <h1> Contacts </h1>
                                </div> 	
                            </div>
                          <hr>	
                            <div class="row" >
                                <div class="col-md-3">
                                    <table class="table table-bordered" style="border: 1px solid #c3c4c69e;">
                                        <tr style="background: #ebeced70;"> 
                                            <th class="p-2">  Active </th>
                                        </tr>
                                        
                                        <tr style="text-align:center;"   >
                                            <td style="padding:25px;" > Active user Name</td>
                                        </tr>
                                    
                                    </table>
                                </div> 
                                
                                <div class="col-md-9 ">
                                    <table class="table table-striped table-lg " >
                                    <thead>
                                        <tr>
                                            <th>  id </th> 
                                            <th style="color: blue;"> First Name </th>
                                            <th> Last Name </th>
                                            <th> Email Address </th>
                                            <th> Phone Number </th>
                                             <th>		</th>
                                        </tr> 
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td>  1  </td> 
                                            <td> Tiger </td>
                                            <td> Woods </td> 
                                            <td> tiger@gmail.com </td> 
                                            <td> 9057856626 </td> 
                                            <td class="t_row p-0"> 
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            </td> 
                                        </tr>
                                        
                                        <tr>
                                            <td>  2  </td> 
                                            <td> Anna </td>
                                            <td> Sudd </td> 
                                            <td> anna@gmail.com </td> 
                                            <td> 8057556626 </td> 
                                            <td class="t_row p-0"> 
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            </td> 
                                        </tr>
                                        
                                        <tr>
                                            <td>  3  </td> 
                                            <td> Mau </td>
                                            <td> Saini </td> 
                                            <td> sainimau@gmail.com </td> 
                                            <td> 7527856626 </td> 
                                            <td class="t_row p-0"> 
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            </td> 
                                        </tr>
                                        
                                        <tr>
                                            <td>  4  </td> 
                                            <td> Shaan </td>
                                            <td> Suman </td> 
                                            <td> shanu@gmail.com </td> 
                                            <td> 9654256626 </td> 
                                            <td class="t_row p-0"> 
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            </td> 
                                        </tr>
                                    </tbody>
                                        
                                    </table>
                                        <p> Page 1 of 1, showing 4 records out of 4 table, strating on record 1, ending on 4 </p>  
                                </div> 
                            </div>
                        </div>      
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


