<!----Nave bar ----------->
<div class="nave p-0 fixed-top shadow-lg b-color" style="height: 75px; ">
    <div class="row ">
        <div class="col-sm-6 mt-3" style=" transition: .5s;">
            <a href="javascript:void(0)" class="tex" style="font-size: 25px; float: left; margin-left: 20px;">
                <i style="font-size: 25px; padding-right: 10px;" class='bx bx-layer nav_logo-icon '></i>
                <span class="nav_logo-name" [ngClass]="{'N-move': toggleVal}">User UI</span>
            </a>
            <a (click)="toggleSidebar()" href="javascript:void(0);">
                <i class="fa fa-bars tex" style="font-size: 25px; float: left;" [ngClass]="{'Sm1': toggleVal, 'Sm2': !toggleVal}"></i>
            </a>
            <form>
                <input type="text" class="form-control tex " style="border: none;" placeholder="Search...."
                    [(ngModel)]="search" name="search">
                <button type="submit" class="tex" (click)="searchVal()">Search</button>
            </form>
        </div>
        <div class="col-sm-6">
            <div style=" float: right;">
                <div class="float-right">
                    <span> {{value}}</span>
                    <mat-slide-toggle style="margin: 20px;"></mat-slide-toggle>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                        class=" rounded-circle mt-2 imG" width="50px">
                    <div class="btn-group">
                        <a href="JavaScript:void(0);" class="tex" style="margin: 20px; font-size: 25px;" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell tex notification-info"></i>
                        </a>
                        <ul class="dropdown-menu listColor">
                            <li><a class="dropdown-item" href="javascript:void(0)"><span class="tex">All Notification -</span></a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"><span class="tex">Follow - 5 K</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="tex">Unfollow - 0 K</span></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"><span class="tex">Separated link</span></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a href="JavaScript:void(0);" style="margin: 20px; font-size: 25px;" (click)="envelopechang()" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa " [ngClass]="{'fa-envelope-open':mail_opne, 'fa-envelope': !mail_opne}" style="color: #6304f0b5;"> 
                                <span matBadge="5" matBadgeColor="accent" style="right: -7px !important;"></span>
                            </i>        
                        </a>
                        <ul class="dropdown-menu listColor" style="margin-top: 6px !important;">
                            <li><a class="dropdown-item" href="javascript:void(0)"><span class="tex">Opne Email -</span></a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"><span class="tex">Send Email -</span></a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"><span class="tex">Something else here</span></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"><span class="tex">Separated link</span></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="tex" id="loading" style="margin: 20px; font-size: 25px;" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog tex" style="font-size: 25px;"></i>
                        </a>
                        <ul class="dropdown-menu listColor">
                            <li>
                                <a class="dropdown-item" href="JavaScript:void(0);" (click)="light()"style="color: #6304f0b5;">
                                    Light Theme <img src="../assets/images/brightness.png" class="rounded-circle imgSet" />          
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="JavaScript:void(0);" (click)="dark()">
                                    Dark Theme <img src="../assets/images/darc.png" class="rounded-circle imgSet" style="color: black;"/>   
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: -3px;">
    </div>
</div>
<!--- sidebar  -->
<div class="col-lg-2 p-0">
    <div class="l-navbar shadow-lg b-color man-box" id="nav-bar" style="background: aliceblue; width: inherit; z-index: 1;"
        [ngClass]="{'w85': toggleVal}">
        <nav class="nav" style="padding-left: 10px;">
            <div class="mt-5 pt-5">
                <div class="nav_list">
                    <ul style="list-style-type: none; padding: 0px;">
                        <li [class.active]="rootUrl==='/dashboard'" class="hover-Bg">
                            <a routerLink="/dashboard" class="nav_link active tex">
                                <i class='bx bx-category nav_icon'></i>
                                <span class="nav_name">Dashboard</span>
                            </a>
                        </li>
                        <li [class.active]="rootUrl==='/profile'" class="hover-Bg">
                            <a routerLink="/profile" class="nav_link tex" style="margin-bottom: 18px;">
                                <i class='bx bx-user-circle nav_icon'></i>
                                <span class="nav_name">Profile</span>
                            </a>
                        </li>
                        <li [class.active]="getActive('contact')" class="hover-Bg">
                            <a routerLink="/contact" class="nav_link tex" style="margin-bottom: 18px;">
                                <i class='bx bx-user-pin nav_icon'></i>
                                <span class="nav_name">Contact</span>
                            </a>
                        </li>
                        <li [class.active]="getActive('list')" class="hover-Bg">
                            <a routerLink="/list" class="nav_link tex" style="margin-bottom: 18px;">
                                <i class='bx bx-list-ol nav_icon'></i>
                                <span class="nav_name">List</span>
                            </a>
                        </li>
                        <li [class.active]="getActive('compaign')" class="hover-Bg">
                            <a routerLink="/compaign" class="nav_link tex" style="margin-bottom: 18px;">
                                <i class='bx bx-blanket nav_icon'></i>
                                <span class="nav_name">Compaign</span>
                            </a>
                        </li>
                        <li [class.active]="getActive('template')" class="hover-Bg">
                            <a routerLink="/template" class="nav_link tex" style="margin-bottom: 18px;">
                                <i class='bx bx-wallet-alt nav_icon'></i>
                                <span class="nav_name">Template</span>
                            </a>
                        </li>
                        <li [class.active]="getActive('category')" class="hover-Bg">
                            <a routerLink="/category" class="nav_link tex" style="margin-bottom: 18px;">
                                <i class='bx bx-library nav_icon'></i>
                                <span class="nav_name">Category</span>
                            </a>
                        </li>
                        <li [class.active]="getActive('subscription')" class="hover-Bg">
                            <a routerLink="/subscription" class="nav_link tex" style="margin-bottom: 18px;">
                                <i class='bx bx-library nav_icon'></i>
                                <span class="nav_name">Subscription</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="logout()" class="nav_link tex">
                    <i class='bx bx-log-out nav_icon'></i>
                    <span class="nav_name">SignOut</span>
                </a>
            </div>
        </nav>
    </div>
</div>