
<div class="row" >
    <div class="col-sm-12">
        <div class="dropdown m-4" style="float: right;">
            <button class="dropbtn" id="loading"><i class="bx bx-cog  tex" style="font-size: 25px;"></i></button>
            <div class="dropdown-content">
                <a href="JavaScript:void(0);" (click)="light()" class="tex">Light Theme</a>
                <a href="JavaScript:void(0);" (click)="dark()">Dark Theme</a>
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="form" style="margin: auto; margin-top: 6%;">
        <h2>Sign Up</h2>
        <div class="input">
            <form [formGroup]="signForm" (ngSubmit)="submit()">
                <div class="inputBox">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <label for="">First Name</label>
                            <input type="text" name="fname" id="fname" placeholder="Enter Name" formControlName="fname" 
                                [style.border]="(submitted && f['fname'].errors && f['fname'].errors['required'])==true ? '3px solid red' :'0px solid white'">
                        </div>
                        <div class="col-md-6 p-1">
                            <label for=""> Last Name</label>
                            <input type="text" name="lname" id="lname" placeholder="Enter Name" formControlName="lname" 
                                [style.border]="(submitted && f['lname'].errors && f['lname'].errors['required'])==true ? '3px solid red' :'0px solid white'">
                        </div>
                    </div>
                </div>
                <div class="inputBox">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="Enter email" formControlName="email" 
                        [style.border]="(submitted && f['email'].errors && f['email'].errors['required'])==true ? '3px solid red' :'0px solid white'">
                </div>
                <div class="inputBox">
                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="password" formControlName="password" 
                        [style.border]="(submitted && f['password'].errors && f['password'].errors['required'])==true ? '3px solid red' :'0px solid white'">
                </div>
                <div class="inputBox">
                    <input type="submit" name="submit" value="Sign In"> 
                </div>
            </form>
        </div>
        <p class="forgot">Already Created Account?<a routerLink="/login"> Login</a></p>
    </div>
</div>



