.card1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 90px;
}

.edit {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
    color: white;
}

.edit:hover {
    background: linear-gradient(315deg, #5d02ff, #e91e63);
}

.edit:hover:active {
    color: rgba(255, 255, 255, 0.521);
    background: linear-gradient(315deg, #e91e6271, #5f02ff8c);
}

.tex {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icn {
    font-size: 16px;
    margin-right: 10px;
    padding: 8px 20px;
}

.icn i {
    font-size: 15px;
    padding-right: 8px;
}

h1 {
    font-size: 55px;
}

.text-mute {
    color: #b6b6b6d9;
}

.imgUpload {
    width: 15%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
}

.blank-box {
    background: #d8d8d836;
    height: auto;
    border-radius: 10px;
    border-style: dotted;
    border-color: #d5d7d6;
    padding: 20px;
}

.cancelbtn {
    border: 1px solid #ff3382a1;
    color: #6404f48f;
    margin-right: 15px;
    padding: 8px 22px;
}

.battcolor {
    border: 1px solid #ff3382;
    color: #6404f4;
    padding: 9px 30px;
}