<div class="row">
  <!--- sidebar  -->
  <div class="p-0" [ngClass]="{'col-lg-1': toggleVal,'col-lg-2':!toggleVal}">
      <app-sidebar (sidebarToggle)=sidebarToggle($event)> </app-sidebar>
  </div>
  <!---ProFile Page -->
  <div class="" [ngClass]="{'col-lg-11': toggleVal,'col-lg-10':!toggleVal}">
    <section class="gradient-custom-2 ">
      <div style="margin: 80px 0px 0px -4px;">
        <div class="align-items-center">
          <div class="col col-lg-12">
            <div class="card1">
              <div class="rounded-top text-white d-flex flex-row" style="background:linear-gradient(315deg,#e91e63,#5d02ff); height:200px;">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                    alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 150px; z-index: 1">
                  <button type="button" class="btn edit" style="z-index: 1;"> Edit profile </button>
                </div>
                <div class="ms-3" style="margin-top: 130px;">
                  <h5>Andy Horwitz</h5>
                  <p>New York</p>
                </div>
              </div>
              <div class="p-4 text-black" style="background-color: #b9b8bbfa;">
                <div class="d-flex justify-content-end text-center py-1">
                  <div>
                    <p class="mb-1 h5 tex">253</p>
                    <p class="small text-white mb-0">Photos</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-1 h5 tex">1026</p>
                    <p class="small text-white mb-0">Followers</p>
                  </div>
                  <div>
                    <p class="mb-1 h5 tex">478</p>
                    <p class="small text-white mb-0">Following</p>
                  </div>
                </div>
              </div>
              <div class="card-body p-4 text-black">
                <div class="mb-5">
                  <p class="lead fw-normal mb-1 tex">About</p>
                  <div class="p-4 about">
                    <p class="font-italic mb-1">Web Developer</p>
                    <p class="font-italic mb-1">Lives in New York</p>
                    <p class="font-italic mb-1">Photographer</p>
                    <p class="font-italic mb-0">andy55@gmail.com</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0 tex">Recent photos</p>
                  <p class="mb-0"><a href="#" class="text-muted tex">Show all</a></p>
                </div>
                <div class="row g-2">
                  <div class="col mb-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
                  <div class="col mb-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
                  <div class="col">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>