<div class="row">
  <!--- sidebar  ---------------->
  <div style="transition: .5s;" class="p-0" [ngClass]="{'col-lg-1': toggleVal,'col-lg-2':!toggleVal}">
    <app-sidebar (sidebarToggle)=sidebarToggle($event)> </app-sidebar>
  </div>
  <!--- ProFile Page ------------->
  <div style="transition: .5s;" [ngClass]="{'col-lg-11': toggleVal,'col-lg-10':!toggleVal}">
    <div class="container-fluid" *ngIf="!countdown">
      <section class="gradient-custom-2" >
        <div class="p-3">
          <div class="align-items-center">
            <div class="col col-lg-12">
              <div class="card1">
                <div class="rounded-top text-white d-flex flex-row"  style="background:linear-gradient(315deg,#e91e63,#5d02ff); height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <span *ngIf="image == 'null'" class="mb-2 mt-4 "><div class="img-fluid"><b class="tex" style="font-size: 70px;">{{fname.substr(0,1)}}</b></div></span>
                    <img *ngIf="image != 'null'" src="http://localhost:3001/uploads/images/{{image}}" alt="Generic placeholder image" class=" img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                    <button type="button" class="btn edit mt-1" style="z-index: 1;" data-bs-toggle="modal" data-bs-target="#exampleModal"> Edit profile </button>
                    <button type="button" class="btn resetp mt-2" style="z-index: 1;" data-bs-toggle="modal"  data-bs-target="#resetPassword" > Reset password </button>
                    <!--- edit Form ------------>
                    <form class="form"[formGroup]="createForm" (ngSubmit)="submit()">
                      <div class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" id="exampleModal" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title tex" id="exampleModalLabel"><b>Update Profile : </b></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <span style="text-align: center;">
                                  <span *ngIf="image != 'null' && image"><img src="http://localhost:3001/uploads/images/{{image}}" class="rounded-circle p-0 show-image"/></span>
                                  <span *ngIf="image == 'null'" class="p-0"><div class="text-image tex"><b style="font-size: 70px;">{{fname.substr(0,1)}}</b></div></span>
                                </span>
                                <div class="form-group imgUpload">
                                  <label for="exampleInputFile" class="Upload">Upload <i class='bx bx-camera'></i></label>
                                  <input type="file" id="exampleInputFile" style="display: none;" name="file" (change)="handleFileUpload($event.target)"/>
                                </div>
                                  
                              </div>
                              <label for="fname" class="tex"> First Name :</label>
                              <input type="text" class="form-control bg-transparent" name="fname" placeholder="Enter first name" formControlName="fname"
                                  [style.border]="(submitted && f['fname'].errors && f['fname'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="lname" class="tex"> Last Name :</label>
                              <input type="text" class="form-control bg-transparent" name="lname" placeholder="Enter last name" formControlName="lname"
                                  [style.border]="(submitted && f['lname'].errors && f['lname'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="email" class="tex">Email :</label>
                              <input type="email"class="form-control bg-transparent" name="email" placeholder="Enter email" formControlName="email"
                                  [style.border]="(submitted && f['email'].errors && f['email'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="mobile" class="tex">Mobile :</label>
                              <input type="number"class="form-control bg-transparent" name="mobile" placeholder="Enter Mobile" formControlName="mobile"
                                  [style.border]="(submitted && f['mobile'].errors && f['mobile'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                            </div>
                            <div class="modal-footer">
                              <input type="submit" class="btn battcolor edit" value="SAVE" name="submit" data-bs-dismiss="modal">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <!-- end form and start reset form ------>
                    <form class="form"[formGroup]="resetForm" (ngSubmit)="passwordReset()">
                      <div class="modal fade"  tabindex="-1"  id="resetPassword" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title tex" ><b>Reset Password : </b></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <label for="oldpass" class="tex"> Old Password :</label>
                              <input type="password" class="form-control bg-transparent" name="oldpass" placeholder="Old Password" formControlName="oldpass"
                                  [style.border]="(resetSubmitted && rf['oldpass'].errors && rf['oldpass'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="newpass" class="tex"> New Password :</label>
                              <input type="password" class="form-control bg-transparent" name="newpass" placeholder="New Password" formControlName="newpass"
                                  [style.border]="(resetSubmitted && rf['newpass'].errors && rf['newpass'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="conpass" class="tex"> Confirm Password :</label>
                              <input type="password"class="form-control bg-transparent" name="conpass" placeholder="Confirm Password" formControlName="conpass"
                                  [style.border]="(resetSubmitted && rf['conpass'].errors && rf['conpass'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" />                  
                                  <p class="text-danger text-center mt-1" [ngClass]="{'d': !passwordMech }"> Password is Not the Same</p> <br>
                              </div>
                            <div class="modal-footer">
                              <input type="submit" class="btn battcolor edit" value="Reset" name="passwordReset" >
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <!-- end -->
                  </div>
                  <div class="ms-3" style="margin-top: 130px;">
                    <h5>{{fname}} {{lname}}</h5>
                    <p>New York</p>
                  </div>
                </div>
                <div class="p-5 text-black" style="background-color: #b9b8bbfa;">
                  <div class="d-flex justify-content-end text-center py-1">
                    <div>
                      <p class="mb-1 h5 tex">253</p>
                      <p class="small text-white mb-0">Photos</p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5 tex">1026</p>
                      <p class="small text-white mb-0">Followers</p>
                    </div>
                    <div>
                      <p class="mb-1 h5 tex">478</p>
                      <p class="small text-white mb-0">Following</p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div class="mb-5">
                    <p class="lead fw-normal mb-1 tex">About</p>
                    <div class="p-4 about">
                      <p class="font-italic mb-0">{{email}}</p>
                      <p class="font-italic mb-1">Web Developer</p>
                      <p class="font-italic mb-1">Lives in New York</p>
                      <p class="font-italic mb-1">{{mobile}}</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0 tex">Recent Activity</p>
                    <p class="mb-0"><a href="#" class="text-muted tex">Show all</a></p>
                  </div>
                  <hr>
                  <div class="row" >  
                    <div class="col-md-12 ">
                        <table class="table table-striped table-lg tex">
                            <thead>
                                <tr>
                                    <th (click)="sortBy('id')">  Id <i class='bx bx-sort nav_icon'></i></th> 
                                    <th (click)="sortBy('title')"> Title <i class='bx bx-sort nav_icon'></i></th>
                                    <th> Description</th>
                                    <th> Created </th>
                                </tr> 
                            </thead>                                 
                            <tbody>
                                <tr *ngFor="let row of data" >
                                    <td> {{row.id}} </td> 
                                    <td> {{row.title}}  </td>                                               
                                    <td> {{row.description}}  </td> 
                                    <td> {{row.created | date:'short'}}  </td> 
                                </tr>
                                <tr *ngIf="data.length == 0"> 
                                    <td class="text-center" colspan="6">NO RECORD FOUND</td>
                                </tr>
                            </tbody>     
                        </table>                   
                        <div *ngIf="totalPage">
                            <span class="tex" style="margin: 0; color: #b6b6b6d9;"> Show </span> 
                            <div class="btn-group">
                                <select class="form-select dropbutton" aria-label="Default select example"  [(ngModel)]="limit" (change)="getData()">
                                    <option selected value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <span style="margin: 0; color: #b6b6b6d9;"> Showing {{getTOFROM()}} of {{totalRows}} entries</span>
                            <!-- Pagination  System Design   -->
                            <div style=" float: right;">
                                <app-pagination [totalPage]="totalPage" [page]="page" (newPage)="pageChange($event)"></app-pagination>
                            </div>  
                        </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Update Logout Timer  ------------->
    <body *ngIf="countdown">
      <div class="countdown">
        <div class="message-tex">{{message}} </div>
        <div class="number">
          <h2>8</h2>
        </div>        
        <div class="number">
          <h2>7</h2>
        </div>
        
        <div class="number">
          <h2>6</h2>
        </div>
        
        <div class="number">
          <h2>5</h2>
        </div>
        
        <div class="number">
          <h2>4</h2>
        </div>
        
        <div class="number">
          <h2>3</h2>
        </div>
        
        <div class="number">
          <h2>2</h2>
        </div>
        
        <div class="number">
          <h2>1</h2>
        </div>
        
        <div class="number">
          <h2>0</h2>
        </div>
        
        <div class="number">
          <h2>9</h2>
        </div>
        <h1 class="logout-text">Syatem Logout ?</h1>
      </div>
    </body>
  </div>
</div>