<div class="row">
  <!--- sidebar  ---------------->
  <div style="transition: .5s;" class="p-0" [ngClass]="{'col-lg-1': toggleVal,'col-lg-2':!toggleVal}">
    <app-sidebar (sidebarToggle)=sidebarToggle($event)> </app-sidebar>
  </div>
  <!--- ProFile Page ------------->
  <div style="transition: .5s;" [ngClass]="{'col-lg-11': toggleVal,'col-lg-10':!toggleVal}">
    <div class="container-fluid ">
      <section class="gradient-custom-2 ">
        <div class="p-3">
          <div class="align-items-center">
            <div class="col col-lg-12">
              <div class="card1">
                <div class="rounded-top text-white d-flex flex-row"
                  style="background:linear-gradient(315deg,#e91e63,#5d02ff); height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                    alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                    <button type="button" class="btn edit mt-1" style="z-index: 1;" data-bs-toggle="modal" data-bs-target="#exampleModal"> Edit profile </button>
                    <button type="button" class="btn resetp mt-2" style="z-index: 1;" > Reset password </button>
                    <!-- edit Form -->
                    <form class="form"[formGroup]="createForm" (ngSubmit)="submit()">
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title tex" id="exampleModalLabel"><b>Update Profile : </b></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <span style="text-align: center;">
                                  <span *ngIf="image != 'null' && image"><img src="http://localhost:3001/uploads/images/{{image}}" class="rounded-circle p-0 show-image"/></span>
                                  <span *ngIf="image == 'null'" class="p-0"><div class="text-image tex"><b style="font-size: 70px;">{{fname.substr(0,1)}}</b></div></span>
                                  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                  alt="Generic placeholder image" class="rounded-circle show-image ">           -->
                                </span>
                                <div class="form-group imgUpload">
                                  <label for="exampleInputFile">Upload</label>
                                  <input type="file" id="exampleInputFile" style="display: none;" name="file" (change)="handleFileUpload($event.target)"/>
                                </div>
                                  
                              </div>
                              <label for="fname" class="tex"> First Name :</label>
                              <input type="text" class="form-control bg-transparent" name="fname" placeholder="Enter first name" formControlName="fname"
                                  [style.border]="(submitted && f['fname'].errors && f['fname'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="lname" class="tex"> Last Name :</label>
                              <input type="text" class="form-control bg-transparent" name="lname" placeholder="Enter last name" formControlName="lname"
                                  [style.border]="(submitted && f['lname'].errors && f['lname'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="email" class="tex">Email :</label>
                              <input type="email"class="form-control bg-transparent" name="email" placeholder="Enter email" formControlName="email"
                                  [style.border]="(submitted && f['email'].errors && f['email'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                              <label for="mobile" class="tex">Mobile :</label>
                              <input type="number"class="form-control bg-transparent" name="mobile" placeholder="Enter Mobile" formControlName="mobile"
                                  [style.border]="(submitted && f['mobile'].errors && f['mobile'].errors['required'])==true ? '1px solid red' :'1px solid #c6c6c6'" /><br>
                            </div>
                            <div class="modal-footer">
                              <!-- <button type="button" class="btn btn-secondary edit" data-bs-dismiss="modal">Close</button> -->
                              <input type="reset" class="btn cancelbtn" (click)="reset()" value="Cancal" name="cancal">
                              <input type="submit" class="btn battcolor edit" value="SAVE" name="submit">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <!-- end -->
                  </div>
                  <div class="ms-3" style="margin-top: 130px;">
                    <h5>{{fname}} {{lname}}</h5>
                    <p>New York</p>
                  </div>
                </div>
                <div class="p-5 text-black" style="background-color: #b9b8bbfa;">
                  <div class="d-flex justify-content-end text-center py-1">
                    <div>
                      <p class="mb-1 h5 tex">253</p>
                      <p class="small text-white mb-0">Photos</p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5 tex">1026</p>
                      <p class="small text-white mb-0">Followers</p>
                    </div>
                    <div>
                      <p class="mb-1 h5 tex">478</p>
                      <p class="small text-white mb-0">Following</p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div class="mb-5">
                    <p class="lead fw-normal mb-1 tex">About</p>
                    <div class="p-4 about">
                      <p class="font-italic mb-0">{{email}}</p>
                      <p class="font-italic mb-1">Web Developer</p>
                      <p class="font-italic mb-1">Lives in New York</p>
                      <p class="font-italic mb-1">{{mobile}}</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0 tex">Recent photos</p>
                    <p class="mb-0"><a href="#" class="text-muted tex">Show all</a></p>
                  </div>
                  <div class="row g-2">
                    <div class="col mb-2">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1"
                        class="w-100 rounded-3">
                    </div>
                    <div class="col mb-2">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="image 1"
                        class="w-100 rounded-3">
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp" alt="image 1"
                        class="w-100 rounded-3">
                    </div>
                    <div class="col">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp" alt="image 1"
                        class="w-100 rounded-3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>